


html {
    position: relative;
    min-height: 100%;
    background-color: maroon;
}

*, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', 'Roboto', sans-serif;
    justify-content: center;
    background-size: cover;
   
}
.container-parent {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin-top: 50px; 
    margin-bottom: 2rem;
    min-height: 200px;
    padding: 10px;
   box-shadow: #212121;
    border-radius: .8rem;
}

.calculator .display {
    background: #212121;
	padding: 1.5rem;
	border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 480px;
} 

.display .calculator-display {
    width: 100%;
	border: 0px;
    background: darkolivegreen;
    border-radius: .8rem;
    padding: 20px;
    box-shadow: inset 3px 4px 6px 1px rgba(0,0,0,0.7);
    outline: none;
}

.screen-current {
	font-size: 1.325rem;
	font-weight: 400;
	text-align: right;
	color: black;
    min-height: 64px;
    display: block;
}

.screen-last {
	font-size: 1.625rem;
	font-weight: 600;
	text-align: right;
    min-height: 32px;
}

.calculator .buttons-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    grid-gap: 2.5rem;
    padding: 1rem;
    background: #212121;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

}

.buttons-flex button {
    font-size: 1.325rem;
    padding: 1.1rem 0;
    font-weight: 700;
    background: #616161;
    border: 1px solid transparent;
    outline: none;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 6px 7px 7px 1px rgba(0,0,0,0.9);
    color: #DFDFDF;
    cursor: pointer;
    transition: all .15s ease-in-out;
   
}

button.equals {
	grid-column: 3 / 5;
	border-radius: 3em;
}
button.equals:hover {
    background-color: darkgreen;
}
button.decimal:hover,
button.remainder:hover {
    background-color: purple;
}
button.allClear:hover, 
button.clear:hover {
    background-color: red;
}

button.operators:hover {
    background-color:  darkcyan;
}
button.digits:hover {
    background-color: rosybrown;
}
button.equals:active,
button.equals:active,
button.allClear:active,
button.operators:active,
button.decimal:active,
button.digits:active,
button.clear:active {
    transform: translateY(-0.2rem);
}

footer {
    font-weight: 600;
    text-align: center;
    text-shadow: -1px 1.5px 0px rgba(0,0,0,0.4);
}